/*
=======================================
TABLE OF CONTENTS
=======================================

-links and buttons
-typography
-general tools and styling, z-indeces
-header
-main
-footer

*/

/*
======================================
LINKS AND BUTTONS
======================================
*/

.nav-link {
  cursor: pointer;
}

/*
======================================
TYPOGRAPHY AND COLOR SCHEME
======================================
*/

/* Desktop Font Formatting */ 



/* Mobile Font Formatting */
@media only screen and (max-width: 800px) {
  
}


/* Color Styling */

body {
  color: #2c8375;
  background-color: #F3F3F3;
}

.invert {
  color: #f3F3F3;
}

.primary {
  color: #359d8e !important;
}

.back-primary {
  background-color: #359d8e !important;
}


.secondary {
  color: #009A8F !important;
}

.back-secondary {
  background-color:#009A8F !important;
}

.tertiary {
  color: #283747 !important;
}

.back-tertiary {
  background-color:#283747 !important;
}

/*
======================================
GENERAL TOOLS AND SPACING
======================================
*/

html {
	overflow-y: scroll;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  top: 0;
}

.flex {
  display: flex;
}

/*
======================================
HEADER
======================================
*/



/*
======================================
MAIN
======================================
*/

main {
  margin: 10vh 5vw 0 5vw;
  padding-bottom: 2.5rem; /* for footer */
  position: relative;
  background: #f3f3f3BB;
}

.bg-img {
  background-image: url('images/desk-background.jpg');
  background-size: cover;
}

.coneDiv {
  position: absolute;
  left: 30vw;
  text-align: center;
}

.cone {
  width: 15vw;
}

/* Home */
.home-main h1 {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding-top: 28px;
}

body, .home-main {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.home-main .container-fluid {
  margin: 0 !important;
}

/* Services */
.section-title {
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: left;
}

.section-title:hover, .section-title:focus {
  cursor: pointer;
  text-decoration: none;
  color: #283747;
  box-shadow: 0 0 3px 0.05rem #283747;
}

.space {
  margin: 10px auto;
}

.gut {
  padding: 0;
}

.arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 44px;
  top: 22px;
  border-right: 3px solid #F3F3F3;
  border-bottom: 3px solid #F3F3F3;
  pointer-events: none;
  transform: rotate(45deg);
  transition: transform .15s ease-in-out;
}

.up {
  transform: rotate(225deg);
}

/* Contact */
.limit-width {
  max-width: 600px;
  margin: 0 auto;
}

/* Past Work */
#port-cont button img{
  max-height: 200px;
  max-width: 80vw;
  cursor: pointer;
  margin: 5px;
}

.img-preview img {
  max-height: 80vh;
  max-width: 100%;
}

.website-thumbnail {
  height: 40vh;
  width: auto;
  margin: 5px;
}

/* Meet the Team */
#team-shot {
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ethan {
  border-right: 2px solid #2c8375 !important;
  text-align: right;
}

.top-slim {
  padding-top: 0px !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

.slim {
  padding-top: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


/*
======================================
FOOTER
======================================
*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2.5);
}
