/*
=======================================
TABLE OF CONTENTS
=======================================

-TODO
-links and buttons
-typography
-general tools and styling, z-indeces
-header
-main
-footer

*/


/* TODO */
/*
- Drop About, move to home page
- Break Services into dropdown on menu, separate pages for each category.
- Add Meet the Team?
- Less Text on home
/*
======================================
LINKS AND BUTTONS
======================================
*/

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}


/*
======================================
TYPOGRAPHY AND COLOR SCHEME
======================================
*/

/* Desktop Font Formatting */ 
body {
  font-size: 20px;
  font-weight: 300;
  font-family: Lato;
}

.secondary-text {
  font-size: 18px;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h3 {
  font-size: 28px;;
  font-weight: 500;
  font-family: Lato;
}

.navBtns {
  font-size: 40px;
  font-weight: 700;
}


/* Mobile Font Formatting */
@media only screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

  .secondary-text {
    font-size: 14px;
  }

  h1 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }
}


/* Color Styling */

body {
  color: #2c8375;
  background-color: #F3F3F3;
}

.invert {
  color: #f3F3F3;
}

.primary {
  color: #359d8e;
}

.secondary {
  color: #2c8375;
}

.tertiary {
  color: #283747;
}

.back-tertiary {
  background-color:#283747;
}

/*
======================================
GENERAL TOOLS AND SPACING
======================================
*/

/*  * is a universal selector. *:before and *:after are included to ensure that every possible element is selected */
*, *:before, *:after {
	/* Alters the box model of all elements. Defualt is content-box:
		content-box: realWidth = margin + borders + padding + width), 
		padding-box: realWidth = margin + borders + width, [Deprecated, do not use]
		border-box: realWidth = margin + width
	 */
	-webkit-box-sizing: content-box; /* Chrome and Safari browzers */
	   -moz-box-sizing: content-box; /* Mozilla Firefox */
	        box-sizing: content; /* The default */
}


html {
	overflow-y: scroll;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  top: 0;
  z-index: -1;
}

header {
  z-index: 2;
}

.menu-btn {
  z-index: 5;
}

.navBtns {
  z-index: 3;
}

main {
  z-index: 1;
}

footer {
  z-index: 1;
}

.flex {
  display: flex;
}

.unresponsive {
  pointer-events: none;
}

.tile-img {
  width: 20vw;
  height: auto;

}

/*
======================================
HEADER
======================================
*/

header {
  position: relative;
  padding-left: 17.5vw;
}

.long-logo {
  width: 80vw;
  height: auto;
}

.navBar {
  position: fixed;
  top: 0px;
  left: 0px;
}

.navBtns {
  top: 0px;
  padding-top: 60px;
  height: 100vh;
  width: 60vw;
  position: fixed;
  left: -60vw;
  transition: all 0.3s ease-in-out;
}

.blur-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.blurred {
  backdrop-filter: blur(5px);
}

.shown {
  left: 0px;
}

.navBtns>div {
  margin: 10px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.menu-btn_burger {
  width: 40px;
  height: 6px;
  background: #000000;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: #000000;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-16px);
}

.menu-btn_burger::after {
  transform: translateY(16px);
}

/* Animation */
.menu-btn.open .menu-btn_burger {
  background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg)
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg)
}





/*
======================================
MAIN
======================================
*/

main {
  margin: 10vh 5vw 0 5vw;
  padding-bottom: 2.5rem; /* for footer */
  position: relative;
}

.coneDiv {
  position: absolute;
  left: 30vw;
  text-align: center;
}

.cone {
  width: 15vw;
}

/*
======================================
FOOTER
======================================
*/

footer {
  height: 2.5rem;
  margin: 2vh 15vw;
  width: 90vw;
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
}