/*
=======================================
TABLE OF CONTENTS
=======================================

-links and buttons
-typography
-general tools and styling, z-indeces
-header
-main
-footer

*/

/*
======================================
LINKS AND BUTTONS
======================================
*/

.nav-link {
  cursor: pointer;
}

/*
======================================
TYPOGRAPHY AND COLOR SCHEME
======================================
*/

/* Desktop Font Formatting */ 



/* Mobile Font Formatting */
@media only screen and (max-width: 800px) {
  
}


/* Color Styling */

body {
  color: #2c8375;
  background-color: #F3F3F3;
}

.invert {
  color: #f3F3F3;
}

.primary {
  color: #359d8e !important;
}

.back-primary {
  background-color: #359d8e !important;
}


.secondary {
  color: #2c8375 !important;
}

.back-secondary {
  background-color:#2c8375 !important;
}

.tertiary {
  color: #283747 !important;
}

.back-tertiary {
  background-color:#283747 !important;
}

/*
======================================
GENERAL TOOLS AND SPACING
======================================
*/

html {
	overflow-y: scroll;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  top: 0;
}

.flex {
  display: flex;
}

/*
======================================
HEADER
======================================
*/



/*
======================================
MAIN
======================================
*/

main {
  margin: 10vh 5vw 0 5vw;
  padding-bottom: 2.5rem; /* for footer */
  position: relative;
}

.coneDiv {
  position: absolute;
  left: 30vw;
  text-align: center;
}

.cone {
  width: 15vw;
}

/* Past Work */
#port-cont button img{
  max-height: 200px;
  max-width: 80vw;
  cursor: pointer;
  margin: 5px;
}

.img-preview img {
  max-height: 80vh;
  max-width: 100%;
}

.website-thumbnail {
  height: 40vh;
  width: auto;
  margin: 5px;
}

/* Meet the Team */
#team-shot {
  border-radius: 18px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ethan {
  border-right: 2px solid #2c8375 !important;
  text-align: right;
}

.top-slim {
  padding-top: 0px !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

.slim {
  padding-top: 20px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


/*
======================================
FOOTER
======================================
*/
